<style type="text/css">
	.qoute {
		margin-top: 20px;
	}
	.qoute-sentence {
		background-color: whiteSmoke;
		padding: 20px;
	}
	.quote-profile img {
		width: 120px;
	}
	@media(max-width: 979px) {
		.qoute {margin-top: 0;}
	}
	@media(max-width: 768px) {
		.qoute {margin-top: 0;}
	}
</style>
<div class="row qoute">
	<div class="span8">
		<div class="qoute-sentence">
			<h4 style="font-weight: normal;">"Someone said that we are IT organization with almost out-date technologies.</h4>
			<h1>Not anymore." <small><i>Parit Wattanasin</i></small></h1>
		</div>
	</div>
	<div class="span4 quote-profile">
		<img src="resources/images/profiles/parit.jpg" class="img-polaroid" />
	</div>
</div>